    header {
        text-align: center;
    }
    
    iframe {
        height: 450%;
        border: none;
    }
    
    li {
        list-style: none;
    }
    
    li a {
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }
    
    a:hover {
        background-color: rgba(158, 158, 158, 0.61);
        border-top-left-radius: 1%;
        box-shadow: 1px 0 0.4em rgb(158, 158, 158);
    }
    
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        top: 50%;
        text-align: center;
    }
    
    #top {
        position: absolute;
        width: 100%;
        height: 12%;
        border: none;
        top: 0px;
        left: 0px;
    }
    
    #esq {
        position: absolute;
        width: 20%;
        height: 88%;
        border: none;
        top: 12%;
        left: 0px;
    }
    
    #dir {
        position: absolute;
        width: 80%;
        height: 88%;
        border: none;
        top: 12%;
        left: 20%;
    }